article {
  display: flex;
  border: solid 1px #888;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;

  figure {
    width: 200px;
    
    img {
      width: 100%;
    }
  }

  .form {
    width: 100%;
    margin: 0 25px;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: solid 1px #888;
      border-radius: 10px;
      font-family: "Comfortaa";
    }

    textarea {
      margin-bottom: 15px;
      margin-top: 5px;
      width: calc(100% - 20px);
    }

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &.right {
        justify-content: flex-end;
      }

      label {
        min-width: 90px;
      }

      input {
        margin-left: 15px;
      }

      button {
        padding: 10px;
        margin-left: 10px;
        min-width: 100px;
        color: white;
        background: #E52521;
        border: solid 1px #E52521;
        border-radius: 25px;
        cursor: pointer;

        &.success {
          background: #43B047;
          border-color: #43B047;
        }
      }
    }
  }
}

div.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 80, 80, 0.5);
}