<section class="content">
  <img src="https://i.pinimg.com/originals/fa/e8/4f/fae84fc531b4b205be010013f7d601c1.png" alt="The Mario brothers">
  <section>
    <p>
      At Mama Mia Pizzeria, the two Mario brothers - Mario and the other Mario - strive to deliver the best pizzas
      made from only the best ingredients.
    </p>
    <p>
      All our ingredients are biologically and ecologically grown and sourced from
      our fairtrade partners in Hyrule.
    </p>
    <p>
      Try them now and enter the magical world of the Mushroom Kingdom!
    </p>
  </section>
</section>